.vscode/**
.vscode-test/**
src/**
test/**
coverage/**
.github/**
.claude/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
.eslintrc.json
**/*.map
**/*.ts
*.vsix
.c8rc.json
CLAUDE.md
node_modules/**
!node_modules/vscode-nls/**
!node_modules/vscode-nls-dev/**
out/test/**
out/**/*.map